.card__wrapper {
  position: relative;
}

.card {
  flex: 0 0 auto;

  --base-height: 400px;
  width: calc(var(--base-height) * 4 / 3);
  height: var(--base-height);

  background-position: center;
  background-size: cover;

  overflow: hidden;
  border-radius: 0.5rem;
}

.card p {
  background: var(--color-500);
  transform-origin: left bottom;
  transform: translateX(0px) translateY(100px) rotate(-45deg);
  padding: 0.15rem 2rem;

  color: white;
  font-weight: 600;
}

.card__arrow {
  position: absolute;
  top: 0;
  left: 0;

  /* centering flex items */
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #21202282;
  border-radius: 0.5rem;
  cursor: pointer;

  /* only seen on hover */
  display: none;
}

.card__arrow__wrapper {
  padding: 1rem;
  border: 3px dashed var(--color-50);
  border-radius: 50%;

  transform: rotate(-30deg);
}

.card__arrow__wrapper svg {
  fill: var(--color-50);
  height: var(--font-h1);
  animation: animateArrow 1.5s infinite cubic-bezier(0.87, -0.12, 0.21, 1.03)
    alternate;
}

.card__wrapper:hover .card {
  filter: blur(1px);
}

.card__wrapper:hover .card__arrow {
  display: flex;
}

@keyframes animateArrow {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(65%);
  }
}
