.navpage__main {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 150;

  max-height: 100vh;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px;

  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .navpage__main {
    padding: 100px 50px;
  }
}

.navpage__main__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem; /* to ensure that atleast there is always 3 rem gap*/
}

.navpage__main__bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
}

.social_icons {
  height: var(--font-h3);
  margin-right: 1rem;
}

.social_icons path {
  fill: #ffffff;
}
