.homepage__side {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  /* padding: 10vw 0; */
}

.homepage__side__headshot_wrapper {
  position: relative;
}

.homepage__side__headshot {
  width: 35vw;
  min-width: 320px;
}

.homepage__side__headshotbg {
  position: absolute;
  width: 22vw;
  min-width: 205px;
  height: auto;
  bottom: 30px;
  left: 3vw;
  z-index: -1;
}

.abstract {
  position: absolute;
  z-index: -1;
}

.abstract--dotscircle {
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

.abstract--plus {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.abstract--zigzag_1 {
  top: 0;
  left: 0;
  transform: rotate(25.87deg) translate(-50%, 50%);
}

.abstract--zigzag_2 {
  bottom: 0;
  right: 0;
  transform: rotate(-30deg) translate(-50%);
}

.homepage__side .homepage__side__headshot {
  transform: translateX(10%);
  opacity: 0;
}
.homepage__side .homepage__side__headshotbg {
  transform: translateX(-10%);
  opacity: 0;
}
.homepage__side .abstract--zigzag_1 {
}

.homepage__side.visible .homepage__side__headshot,
.homepage__side.visible .homepage__side__headshotbg {
  animation: animate 0.5s ease-out 1;
  animation-fill-mode: forwards;
}

@keyframes animate {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
