.display {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: none;
  padding: 2rem;
}

.display::-webkit-scrollbar {
  display: none; /*hiding scrollbars*/
}

/* if scrollable and hovered then show arrow hints */
.display.display--scrollable:hover .arrow_swipe {
  display: block;
}

.arrow_swipe {
  display: none;
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: 2px solid #c5c5c5c5;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 20; /*should have highest z-index*/
}

.arrow_swipe--left {
  left: 0;
  transform: rotate(180deg) translateY(50%); /*flipping horizontally plus translating for center alignement*/
}

.arrow_swipe--right {
  transform: translateY(-50%);
  right: 0;
}

.arrow_swipe svg {
  height: var(--font-h1);
  fill: var(--color-100);
  animation: goright 1s cubic-bezier(0.82, -0.07, 0.58, 1) 0.15s alternate;
  animation-fill-mode: forwards;
}

@keyframes goright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(45%);
  }
}
