.blogs {
  background-color: #100d12;
  padding: 50px 100px;

  width: 100vw;
  max-height: calc(100vh - 50px);
}

.blogs__display {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.blogs .blogs__display > div {
  transform: translateX(20%);
}

.blogs .blogs__display > div:nth-child(2n + 1) {
  transform: translateX(-20%);
}

.blogs.blogs--visible .blogs__display > div {
  animation: toLeft 0.75s ease-out 1;
  animation-fill-mode: forwards;
}

.blogs.blogs--visible .blogs__display > div:nth-child(2n + 1) {
  animation: toRight 0.75s ease-out 1;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 720px) {
  .blogs {
    padding: 50px;
  }

  .blogs__display {
    grid-template-columns: auto;
  }
}

@keyframes toRight {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toLeft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}
