.homepage__hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 40px;
}

.homepage__hero__content {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  position: relative;
  gap: 100px;
}

@media screen and (max-width: 750px) {
  .homepage__hero__content {
    gap: 1rem;
  }
}
