.homepage {
  position: relative;
  display: flex;
  padding: 0 100px;
  width: 100vw;
  margin-top: 100px;
  max-height: calc(100vh - 100px);
  gap: 100px;
  overflow: visible;
}

.homepage__cta:hover path {
  fill: #ffffff;
}

.homepage__hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 40px;
}

.homepage__hero__cta {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.homepage__hero__cta--left {
  position: relative;
  width: 8rem;
}

.rotated {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
  transform: rotate(-90deg) translateY(100%);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.homepage__hero__cta--right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social_links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social_links svg {
  width: auto !important;
  height: auto;
}

.arrow_line {
  position: relative;
  width: 50px;
  height: 2px;
  background-color: #000000;
}

.arrow_line::after {
  content: " ";
  position: absolute;
  top: calc(-0.4rem + 1px);
  right: -3px;
  border-left: 0.8rem solid #000000;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
}

.homepage__hero__content {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  position: relative;
  gap: 100px;
}

