.portfolio {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: calc(100vw);
  height: calc(100vh - 2 * 50px);

  --base-size: 150px;

  overflow-x: clip;
  overflow-y: visible;
}

.portfolio__header {
  margin: 0 100px;
}

.portfolio__display {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;

  animation: marquee 20s linear infinite alternate; /* Animation to scroll items */
  margin-top: 2rem;
}

.portfolio__display:hover {
  animation-play-state: paused;
}

/* Keyframes for the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%); /* Start from the right */
  }
  100% {
    transform: translateX(calc(-100% + 100vw - 50px)); /* End at the left */
  }
}

@media screen and (max-width: 750px) {
  .portfolio__header {
    margin: 0 50px;
  }

  .portfolio__display {
    /* animation-duration: 4s; */
  }
}
