.hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  overflow: visible;

  cursor: pointer;
}

.hamburger__bar {
  width: 40px;
  height: 3px;
  background-color: #000000;

  position: absolute;
  left: 0;

  transition: transform 0.5s ease-in-out;
}

.hamburger__bar:nth-child(1) {
  top: 0;
}

.hamburger__bar:nth-child(2) {
  width: 30px;
  top: 11px;
}

.hamburger__bar:nth-child(3) {
  bottom: 0;
}

/* hamburger hover animation */
.hamburger:hover .hamburger__bar:nth-child(2) {
  transform: translateX(10px);
  transition: transform 0.5s ease-out;
}

/*animating when the hamburger is active; disappear second bar then form a cross with bar 1 and bar 3*/
.hamburger--active .hamburger__bar{
  transition: transform 0.5s ease-in-out;
}

.hamburger.hamburger--active .hamburger__bar:nth-child(2) {
  transform: translateX(1000px);
  transition: transform 0.5s ease-in;
}

.hamburger--active .hamburger__bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
  /* animation: topRotate 0.75s ease-in-out 1; */
  /* animation-fill-mode: forwards; */
}

.hamburger--active .hamburger__bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
  /* animation: bottomRotate 0.75s ease-in-out 1; */
  /* animation-fill-mode: forwards; */
}

/* creating animation for the bars; go in middle then form a cross */
/* @keyframes topRotate { */
/*   30%, 70% { */
/*     transform: translateY(11px); */
/*   } */
/*   100% { */
/*     transform: translateY(11px) rotate(45deg); */
/*   } */
/* } */
/**/
/* @keyframes bottomRotate { */
/*   30%, 70% { */
/*     transform: translateY(-11px); */
/*   } */
/*   100% { */
/*     transform: translateY(-11px) rotate(-45deg); */
/*   } */
/* } */
